
@use 'variables';

// -----------------------------------------
//      Layout
// -----------------------------------------

@mixin section_setup() {
    width: 100%;
    height: auto;
    padding: 2rem 0;
}

@mixin general_wrap($gap) {
    display: flex;
    flex-direction: wrap;
    gap: $gap;
}

@mixin icons_wrap($gap, $font_size) {
    display: flex;
    flex-direction: wrap;
    gap: $gap;

    i, a, p {
        color: variables.$text_black;
        font-size: $font_size;
    }
}

// -----------------------------------------
//      Generel stil
// -----------------------------------------


@mixin header_style() {
    font-size: 34px;
    color: variables.$text_black;
    padding: 2rem 0;
}

@mixin button_style($bg_color, $color, $border) {
    padding: 20px;
    border-radius: variables.$global_radius;
    background-color: $bg_color;
    color: $color;
    border: $border;
    font-size: 14px;
    font-family: variables.$filler_font;
    font-weight: 600;
    cursor: pointer;
}

// Checkout
@mixin checkout_card() {
    padding: 2rem;
    border: 1px solid variables.$text_white;
    border-radius: variables.$global_radius;
}

@mixin form_checkout() {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;

    fieldset {
        border: none;
        width: 100%;

        input {
            display: block;
            width: 100%;
            padding: 1rem;
            outline: none;
            border: 1px solid variables.$bg_gray;
            font-family: variables.$global_font;
        }
    }

    button {
        width: 100%;
        padding: 1rem;
        margin: 1rem 0;
        border: none;
        font-weight: 600;
        background-color: variables.$text_black;
        color: variables.$text_white;
        cursor: pointer;

        &:hover {
            opacity: .7;
            transition: .1s all ease;
        }
    }

    a {
        width: 100%;
        display: block;
        text-align: center;
    }
}


// -----------------------------------------
//      Hover effects
// -----------------------------------------

@mixin hover_opacity() {
    opacity: .7;
    transition: .1s all ease;
}

@mixin hover_zoom() {
    transform: scale(1.2);
    transition: .1s all ease;
}