
@use 'variables';
@use 'mixins';


// --------------------------------
//      Global
// --------------------------------

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: variables.$global_font;
}

ul {
    list-style: none;
}

p {
    font-size: 18px;
}

// -----------------------------------------
//      Wrapper
// -----------------------------------------

#wrapper {
    width: 95%;
    height: auto;
    margin: 0px auto;
    padding: 2rem 0;
}

// -----------------------------------------
//      Header
// -----------------------------------------

header {
    display: flex;
    flex-flow: column;
    align-items: center;

    // Søkebar
    form.searchbar {
        display: flex;
        width: 250px;
        
        input[type=text] {
            width: 100%;
            background: none;
            border: 1px solid variables.$text_black;
            border-right: none;
            outline: none;
            padding: 1rem;
            border-radius: 25px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        button.search_btn {
            background: none;
            border: 1px solid variables.$text_black;
            border-left: none;
            cursor: pointer;
            padding: 1rem;
            border-radius: 25px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    // Navigasjonen
    nav.main_nav {
        margin: 1rem 0;

        ul {
            text-align: center;
            display: flex;
            flex-flow: column;

            a.logo {
                text-decoration: none;
                padding: 1rem 0;
                display: block;

                span.logo {
                    font-size: 40px;
                    font-weight: 800;
                    color: variables.$text_black;
                }
            }

            li {
                padding: 5px 0;
                
                a {
                    color: variables.$text_black;
                    font-weight: 500;
                    text-decoration: none;

                    &:hover {
                        @include mixins.hover_opacity();
                    }
                }
            }
        }
    }

    // Ikoner i header
    nav.header_icons {
        @include mixins.icons_wrap(1rem, 20px);

        a:hover {
            @include mixins.hover_zoom();
        }
    }
}

// -----------------------------------------
//     Index.html
// -----------------------------------------

main.index_main {

    // -----------------------------------------
    //     Index - Banner Slider
    // -----------------------------------------

    section.banner_slider {
        @include mixins.section_setup();
        display: flex;
        position: relative;
        overflow: hidden;

        article.slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: end;
            text-align: right;
            height: 800px;
            flex: 0 0 100%;

            picture {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: variables.$global_radius;
                    filter: brightness(40%);
                }
            }

            article.slider_info {
                position: absolute;
                padding: 3rem;
                width: 75%;
                height: auto;
                color: variables.$text_white;

                h1 {
                    @include mixins.header_style();
                    color: variables.$text_white;
                }

                button.slider_btn {
                    @include mixins.button_style(variables.$text_white, variables.$text_black, none);
                    margin-top: 2rem;

                    &:hover {
                        @include mixins.hover_opacity();
                    }
                }
            }
        }
    }

    // -----------------------------------------
    //     Index - Populære produkter
    // -----------------------------------------

    section.popular_products {
        @include mixins.section_setup();

        article.pop_products_header {
            text-align: center;

            h1 {
                @include mixins.header_style();
            }

            p {
                font-family: variables.$filler_font;
                padding-bottom: 2rem;
            }

            nav.category {
                padding-bottom: 2rem;

                button.cat_btn {
                    @include mixins.button_style(Transparent, variables.$text_black, 1px solid variables.$bg_gray);
                    transition: .1s all ease;

                    &:hover {
                        transition: .1s all ease;
                        background-color: variables.$bg_gray;
                        color: variables.$text_white;
                    }
                }

                #selected {
                    background-color: variables.$text_black;
                    border: none;
                    color: variables.$text_white;
                }
            }
        }

        .products_container {
            display: flex;
            flex-flow: column;
            gap: 1rem;

            article.product {
                flex: 1 1 100%;
                margin: 2rem 0;

                picture {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: auto;

                    img {
                        width: 100%;
                        height: 500px;
                        object-fit: cover;
                        border-radius: variables.$global_radius;
                    }

                    .like_btn {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 20px;
                        text-align: center;
                        color: variables.$text_white;
                        border-radius: 100%;
                        background-color: variables.$bg_gray;
                        cursor: pointer;
                        transition: .1s all ease;

                        &:hover {
                            background-color: variables.$main_red;
                            transition: .1s all ease;
                        }
                    }
                }

                a {
                    color: variables.$text_black;
                    text-decoration: none;
                }

                article.product_info {
                    @include mixins.general_wrap(0);
                    justify-content: space-between;
                    padding: 1rem 0;
                }

                ul.product_rating {
                    @include mixins.general_wrap(5px);
                }
            }
        }
    }

    // -----------------------------------------
    //     Index - Kategorier
    // -----------------------------------------

    section.popular_categories {
        @include mixins.section_setup();

        .pop_cat_header {
            text-align: center;

            h1 {
                @include mixins.header_style();
            }

            p {
                font-family: variables.$filler_font;
                padding-bottom: 2rem;
            }
        }
        
        section.grid_container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
            grid-template-rows: 250px 250px 250px 250px 250px;
            grid-template-areas:
            "cat1"
            "cat2"
            "cat3"
            "cat4"
            "cat5";

            #cat1 { grid-area: cat1; }
            #cat2 { grid-area: cat2; }
            #cat3 { grid-area: cat3; }
            #cat4 { grid-area: cat4; }
            #cat5 { grid-area: cat5; }

            article.cat_container {
                width: auto;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                h3 {
                    position: absolute;
                    color: variables.$text_white;
                    text-transform: uppercase;
                    font-weight: 600;
                }

                picture {
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: variables.$global_radius;
                        filter: brightness(50%);
                    }
                }
            }
        }

    }

    // -----------------------------------------
    //     Index - Anmeldelser
    // -----------------------------------------

    section.reviews {
        @include mixins.section_setup();

        h1 {
            @include mixins.header_style();
        }

        section.reviews_container {
            @include mixins.general_wrap(1rem);
            overflow-x: auto;
            width: 100%;
            

            article.container {
                padding: 1rem;
                border-radius: variables.$global_radius;
                border: 1px solid variables.$text_white;
                flex: 0 0 289px;

                h3 {
                    color: variables.$text_black;
                }

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 100%;
                    object-fit: cover;
                }

                p {
                    font-family: variables.$filler_font;
                    color: variables.$text_black;
                    font-weight: 500;
                    font-size: 18px;
                }
            }

            ul.stars {
                @include mixins.icons_wrap(5px, 18px);
                padding: 1rem 0;
            }

            
        }
    }
}


// -----------------------------------------
//     Product.html
// -----------------------------------------

main.product_main {

    // -----------------------------------------
    //     Product.html - Breadcrumbs
    // -----------------------------------------

    nav {
        padding: 2rem 0;

        ul.breadcrumbs {
            @include mixins.general_wrap(0);

            li {
            
                a {
                    text-decoration: none;
                    color: variables.$text_black;
                    font-weight: 500;
                    
                    &:hover {
                        @include mixins.hover_opacity();
                    }
                }

                i {
                    padding: 0 1rem;
                }
            }
        }
    }

    // -----------------------------------------
    //     Product.html - Image grid
    // -----------------------------------------

    section.product_container {
        display: flex;
        flex-wrap: wrap;

        article.product_image_grid {
            display: grid;
            width: 100%;
            height: auto;
            gap: 10px;
            margin-bottom: 2rem;
            grid-template-columns: .5fr 1fr;
            grid-template-rows: 150px 150px 150px;
            grid-template-areas:
            "img1 img4"
            "img2 img4"
            "img3 img4";

            #img1 { grid-area: img1; }
            #img2 { grid-area: img2; }
            #img3 { grid-area: img3; }
            #img4 { grid-area: img4; }

            picture {
                width: 100%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

    // -----------------------------------------
    //     Product.html - Produkt informasjon
    // -----------------------------------------

        article.product_info {
            width: 100%;
            height: auto;

            h2.product_title, a.product_price, p.product_price, p.product_color, a.product_brand {
                color: variables.$text_black;
                line-height: 40px;
            }

            form.user_options {
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;

                select {
                    margin-top: 3rem;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 1rem;
                    outline: none;
                }

                button.add_to_cart {
                    width: calc(100% - 50px - 1rem);
                    height: 50px;
                    background-color: variables.$text_black;
                    color: variables.$text_white;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        @include mixins.hover_opacity();
                    }
                }

                button.add_to_favorites {
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
                    color: variables.$text_black;
                    border: 1px solid variables.$text_black;
                    font-size: 18px;
                    cursor: pointer;

                    &:hover {
                        border: 1px solid variables.$main_red;
                        color: variables.$main_red;
                    }
                }
            }

            
    // -----------------------------------------
    //     Product.html - Produkt detaljer
    // -----------------------------------------

            article.details {
                padding: 2rem 0;

                details {
                    padding: 0 1rem;
                    border-top: 1px solid variables.$text_black;
                    height: auto;

                    summary {
                        height: 5rem;
                        list-style: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        cursor: pointer;

                        article.stars {
                            @include mixins.icons_wrap(5px, 16px);
                            align-items: center;
                        }
                    }

                    article.content {
                        margin-bottom: 2rem;

                        ul {
                            list-style: circle;
                            margin-left: 2rem;
                        }

                        p {
                            font-size: 16px;
                            color: variables.$text_black;
                        }

                        table {
                            border-collapse: collapse;
                            width: 100%;
                            margin-top: 2rem;

                            th {
                                text-align: left;
                            }
                        }
                    }

                    article.reviews {
                        padding: 1rem;
                        border: 1px solid variables.$text_white;
                        border-radius: variables.$global_radius;

                        p.name {
                            margin-bottom: 1rem;
                        }

                        article.stars {
                            @include mixins.icons_wrap(5px, 16px);
                            margin: 1rem 0;
                        }
                    }
                }
            }
        }
        
    }

    // -----------------------------------------
    //     Product.html - Lignende produkter
    // -----------------------------------------

    section.similar_products {
        @include mixins.section_setup();

        article.similar_products_header {
            display: flex;
            flex-direction: column;

            h1 {
                @include mixins.header_style();
            }
    
            a {
                text-decoration: none;
                font-weight: 500;
    
                &:hover {
                    @include mixins.hover_opacity();
                }
            }
        }
        
        section.products {
            display: flex;
            flex-flow: row;
            gap: 1rem;
            height: auto;
            width: 100%;
            overflow-y: auto;
            margin-bottom: 3rem;

            article.product {
                height: auto;
                flex: 0 0 289px;
                padding: 2rem 0;

                picture {
                    display: block;
                    position: relative;
                    width: auto;
                    height: auto;
                    height: auto;

                    img {
                        width: 100%;
                        height: 289px;
                        object-fit: cover;
                        border-radius: variables.$global_radius;
                    }

                    .like_btn {
                        position: absolute;
                        top: 1rem;
                        right: 1rem;
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        font-size: 20px;
                        text-align: center;
                        color: variables.$text_white;
                        border-radius: 100%;
                        background-color: variables.$bg_gray;
                        cursor: pointer;
                        transition: .1s all ease;

                        &:hover {
                            background-color: variables.$main_red;
                            transition: .1s all ease;
                        }
                    }
                }

                a {
                    color: variables.$text_black;
                    text-decoration: none;
                }

                article.product_info {
                    @include mixins.general_wrap(0);
                    justify-content: space-between;
                    padding: 1rem 0;
                }

                ul.product_rating {
                    @include mixins.general_wrap(5px);
                }
            }
        }

    }

}

// -----------------------------------------
//     checkout.html
// -----------------------------------------

main.checkout_main {

    h1.page_header {
        @include mixins.header_style();
        text-align: center;
    }

    // -----------------------------------------
    //     checkout.html - Shopping Bag
    // -----------------------------------------

    section.shopping_bag {
        margin: 2rem 0;
        @include mixins.section_setup();
        @include mixins.checkout_card();

        h1 {
            @include mixins.header_style();
            font-size: 26px;
        }

        article.product {
            width: 100%;
            display: flex;
            flex-direction: column;

            picture {
                width: 100%;
                height: 200px;
                margin-bottom: 2rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            article.product_info {
                color: variables.$text_black;

                p {
                    font-size: 16px;
                }

                form.product_details {
                    height: auto;
                    padding: 2rem 0;
                    @include mixins.general_wrap(5px);
                    align-items: center;

                    select {
                        width: 75px;
                        padding: 1rem;
                        border: none;
                        outline: none;
                        background-color: variables.$text_white;
                    }

                    input[type=number] {
                        width: 50px;
                        height: 40px;
                        outline: none;
                        border: 1px solid variables.$text_white;
                    }
                }

                article.operator_btns {
                    display: flex;
                    gap: 1rem;
                    font-size: 20px;
                    margin-bottom: 2rem;
                    
                    a {
                        color: variables.$text_black;

                        &:hover {
                            @include mixins.hover_zoom();
                        }
                    }
                }
            }
        }
    }

    // -----------------------------------------
    //     checkout.html - Dine oplysninger
    // -----------------------------------------

    section.user_details {
        margin: 2rem 0;
        @include mixins.section_setup();
        @include mixins.checkout_card();

        h1 {
            @include mixins.header_style();
            font-size: 26px;
        }

        form.details {
            @include mixins.form_checkout();

            h3 {
                width: 100%;
            }
        }

    }

    // -----------------------------------------
    //     checkout.html - Levering
    // -----------------------------------------

    section.deliver_details {
        margin: 2rem 0;
        @include mixins.section_setup();
        @include mixins.checkout_card();

        h1 {
            @include mixins.header_style();
            font-size: 26px;
        }

        form.delivery {


            article.option {
                padding: 1rem;
                margin: 1rem 0;
                border: 1px solid variables.$text_white;

                p {
                    font-size: 16px;
                }

                p.price {
                    font-size: 16px;
                    margin-bottom: 10px;
                }

                p.deliverytime {
                    font-weight: 600;
                    color: variables.$bg_gray;
                    margin: 10px 0;
                }
                
            }
        }
    }

    // -----------------------------------------
    //     checkout.html - Betaling
    // -----------------------------------------

    section.payment_details {
        margin: 2rem 0;
        @include mixins.section_setup();
        @include mixins.checkout_card();

        h1 {
            font-size: 26px;
        }

        form.payment {
            @include mixins.form_checkout();

            article.last_info {
                margin: 1rem 0;
                text-align: center;
                
                p {
                    font-size: 16px;
                }

                p.elua {
                    margin: 2rem 0;
                }

                article.checkbox {
                    width: 100%;

                    input, label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    

}


// -----------------------------------------
//     Footer
// -----------------------------------------

footer {
    width: 100%;
    padding: 3rem 0;
    margin-top: 3rem;
    border-top: 4px solid variables.$text_white;

    h1 {
        @include mixins.header_style();
    }

    p {
        margin-bottom: 2rem;
        font-family: variables.$filler_font;
    }

    section.footer_info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article.sub_container {
            margin-bottom: 2rem;

            h2 {
                color: variables.$text_black;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

            ul.contact_info, ul.footer_links {
                font-family: variables.$filler_font;
                font-size: 16px; 
                line-height: 30px;
            }

            ul.contact_info {

                i {
                    margin-right: 1rem;
                }
            }

            ul.footer_links {

                li a {
                    color: variables.$text_black;
                    text-decoration: none;
                    font-weight: 600;

                    &:hover {
                        @include mixins.hover_opacity();
                    }
                }
            }

            nav.soc_icons {
                @include mixins.icons_wrap(2rem, 24px);
                
                a:hover {
                    @include mixins.hover_zoom();
                }
            }
        }
    }
}

// ---------------------------------------------------------------------------------------------
//     Responsive
// ---------------------------------------------------------------------------------------------

// -----------------------------------------
//     Medium screen
// -----------------------------------------

@media only screen and (min-width: 800px) {

    // -----------------------------------------
    //      Header
    // -----------------------------------------

    header {
        flex-flow: wrap;
        justify-content: space-between;

        nav.main_nav ul {
            text-align: left;
            flex-flow: wrap;
            align-items: center;
            gap: 1rem;
        }
    }

    // -----------------------------------------
    //      Index - Banner slider
    // -----------------------------------------

    main.index_main section.banner_slider {
        overflow: auto;
        overflow-y: hidden;
        padding-bottom: 0;
        gap: 1rem;

        article.slide {
            height: 500px;
            
            article.slider_info {
                padding: 5rem;
            }
        }

        article#reverse {
            justify-content: start;
            text-align: left;
        }
    }
    
    // -----------------------------------------
    //      Index - Populære proudkter
    // -----------------------------------------

    main.index_main section.popular_products .products_container {
        flex-flow: wrap;

        article.product {
            width: auto;
            flex: 1 1 calc(50% - 2rem);
        }

    }

    // -----------------------------------------
    //     Index - Kategorier
    // -----------------------------------------

    main.index_main section.popular_categories section.grid_container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 250px 250px 250px 250px;
            grid-template-areas:
            "cat1 cat2"
            "cat1 cat3"
            "cat4 cat5"
            "cat4 cat5";
        }

    // -----------------------------------------
    //     Produkt side 
    // -----------------------------------------

    main.product_main section.product_container {
        justify-content: space-between;
        position: relative;

        article.product_image_grid {
            width: 60%;
            position: sticky;
            top: 1rem;
            align-self: flex-start;
        }

        article.product_info {
            width: 35%;
        }
    }

    // -----------------------------------------
    //     Handlekurv
    // -----------------------------------------

    main.checkout_main section.shopping_bag,
    main.checkout_main section.user_details, 
    main.checkout_main section.deliver_details, 
    main.checkout_main section.payment_details {
        padding: 0 7rem;

    }

    main.checkout_main section.user_details form.details fieldset.split {
        width: calc(50% - 10px);
    }

    main.checkout_main section.payment_details form.payment fieldset.split {
        width: calc(50% - 10px);
    }
    
}

// -----------------------------------------
//     Big screen
// -----------------------------------------

@media only screen and (min-width: 1200px) {
    
    // -----------------------------------------
    //      Wrapper
    // -----------------------------------------

    #wrapper {
        width: 1200px;
        height: auto;
        margin: 0px auto;
        padding: 2rem 0;
    }

    // -----------------------------------------
    //      Index - Populære proudkter
    // -----------------------------------------

    main.index_main section.popular_products .products_container {

        article.product {
            width: auto;
            flex: 1 1 calc(33.33% - 2rem);
        }
    }

    // -----------------------------------------
    //     Index - Kategorier
    // -----------------------------------------

    main.index_main section.popular_categories section.grid_container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 250px 250px 250px;
        grid-template-areas:
        "cat1 cat2 cat3"
        "cat4 cat4 cat3"
        "cat4 cat4 cat5"
    }

    // -----------------------------------------
    //     Handlekurv
    // -----------------------------------------

    main.checkout_main section.shopping_bag,
    main.checkout_main section.user_details, 
    main.checkout_main section.deliver_details, 
    main.checkout_main section.payment_details {
        padding: 0 20rem;

    }

}